.task {
  width: 400px;
  margin: 0px auto;
  display: flex; 
  flex-direction: column;
}
ul>li {
   display: flex;
   justify-content: space-between;
   background-color: aliceblue;
   padding: 2px;
   border-bottom: 1px solid rgba(240, 248, 255, 0.836);
   margin: 2px;
   padding: 5px 20px;
}

ul {
   padding: 0px;

}

.smmm {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8888;
}

img {
  width: 20px;
}